{% if truncate %}
	<div class="column is-half mb-3">
		<a href="{{ page.url }}" class="card is-block">
			<div class="card-image image">
				{% include 'partials/header_image.html.twig' with {'display':'list'} %}
			</div>
			
			<div class="card-content">
				<h2 class="title is-4 text-ellipsis--2" style="height: 2.4em;">
					{{ page.title }}
				</h2>
				<div class="has-text-black has-text-right">
					{% include 'partials/item_date.html.twig' %}
				</div>
			</div>
		</a>
	</div>
{% else %}
	<div class="hero mb-5">
		<div class="hero-body p-0">
			<h1 class="title">{{ page.title }}</h1>

			{% if config.plugins['aura-authors'].enabled %}
				{% set author = authors[page.header.aura.author] %}
				{% if author %}
				<small>
					<a href="#author-bio">{{ author.name }}</a>
				</small>
				{% endif %}
			{% endif %}

			{% include 'partials/item_date.html.twig' %}
			{% include 'partials/item_taxonomy.html.twig' %}
		</div>
	</div>

	{{ page.content }}

	<br><br>

	<section class="hero mt-5 is-light">
		<div class="hero-body">

			{% include 'partials/socialmedia_links.html.twig' %}

			{% if config.plugins['aura-authors'].enabled %}
				{% include 'partials/author-bio.html.twig' ignore missing %}
			{% endif %}

			{% include 'partials/posts_connected.html.twig' %}

		</div>
	</section

	<br><br>
{% endif %}
