{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(1200) %}
{% set header_image_height = page.header.header_image_height|defined(600) %}
{% set header_image_file = page.header.header_image_file %}

{% set header_image_html = '' %}
{% set header_image_url = '' %}
{% if header_image is not empty %}
    {% if header_image_file %}
        {% set header_image_media = page.media.images[header_image_file] %}
    {% else %}
        {% set header_image_media = page.media.images|first %}
    {% endif %}
    {% set header_image_html = header_image_media.cropZoom(header_image_width, header_image_height).html('', '', 'is-block') %}
    {% set header_image_url = header_image_media.cropZoom(header_image_width, header_image_height).url %}

{% endif %}

{% if header_image_url is empty %}
    {% set header_image_html = '<img alt="" src="' ~ url('theme://images/techws_background.jpg') ~ '">' %}
    {% set header_image_url = url('theme://images/techws_background.jpg') %}
{% endif %}


{% if display == 'list' %}

    {{ header_image_html }}

{% elseif display == 'header-image' %}

    <div class="header-image"
        style="background-image: url('{{ header_image_url }}')">
    </div>

{% elseif display == 'header-image-link' %}

    <a href="{{ page.url }}" class="is-block header-image-link"
        style="background-image: url('{{ header_image_url }}')">
        <h3 class="title is-6 has-text-white p-2 m-0">{{ page.title }}</h3>
    </a>

{% endif %}