{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				{% if uri.param('category')  %}
					<p class="title">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</p>
					<p class="subtitle">
						{{ "BLOG.SEARCH.CATEGORY"|t }} "{{ uri.param('category') }}"
					</p>
				{% elseif uri.param('tag') %}
					<p class="title">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</p>
					<p class="subtitle">
						{{ "BLOG.SEARCH.TAG"|t }} "{{ uri.param('tag') }}"
					</p>
				{% else %}
					<p class="title">{{ "BLOG.HOME.TITLE"|t }}</p>
				{% endif %}
			</div>
		</div>
	</section>

	<div class="container pb-6">
		<div class="box">
			{% include 'partials/header_image.html.twig' with {'display':'header-image'} %}

			<div class="content">
				{{ page.content }}

				{% for child in collection %}
					{% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
				{% endfor %}
			</div>
		
			{% if config.plugins.pagination.enabled and collection.params.pagination %}
				{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
			{% endif %}
		</div>

	</div>
	
{% endblock %}
